/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  background-color: #00EBB2;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 39px;
  margin-left: 132px;
}

.header__logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}
    
.header__logo:hover {
  transform: scale(1.1);
}

.header__nav{
  display: flex;
  gap: 50px;
  margin-left: 100px;
  
}

.header__nav-list{
  display: flex;
  gap: 50px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  
  
}

.header__nav-list a {
  text-decoration: none;
  color: #377BFF;
  transition: color 0.3s ease;
}

.header__nav-list a:hover {
  color: #EFFF37;
}

.icon-menu {
  color: #EFFF37;
  margin-right: 10px;
}

.header__nav-lenguaje {
  display: flex;
}

.header__nav-item-point {
  margin: 0 10px;
  user-select: none;
  cursor: progress;
  text-decoration: none;
  color: #377BFF;
}

/**---------Hero section---------**/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00EBB2;
  /* border: 3px solid #aa0c66; */

}

.hero__img {
  align-self: self-end;
  z-index: 1;
  /* border: 3px solid #5713ce; */
}

.hero__container {
  display: flexbox;
  margin: 0 10% 0 10%;
  /* border: 3px solid #25c616; */
}

.hero__title {
  font-family: 'inter', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 200;
  align-self: self-start;
  color: #377BFF;
}

.hero__subtitle {
  font-family: 'inter', sans-serif;
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
  color: #dcf44a;
  align-self: self-start;
  text-shadow: 
  0 0 15px #dcf44a,
  0 0 8px #60f9f0,
  0 5px 2px #377bff;
}

.hero__description {
  font-family: 'inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #201E1E;
  margin-top: 2%;
  line-height: 1.2;
  align-self: self-start;
}

.hero__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 80px;
  margin-top: 3%;
  background-color: #DCF44A;
  color: #201E1E;
  box-shadow: 1px 5px 5px rgba(116, 114, 114, 0.488);  
  border: none;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  padding: 6%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero__scroll {
  font-family: 'inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 20%;
  cursor: pointer;
}

