.main-layout {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2% 0 2% 10%;
  background-color: #00EBB2;
}

.header__logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}
    
.header__logo:hover {
  transform: scale(1.1);
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.header__nav-list{
  display: flex;
  gap: 50px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  
  
}

.header__nav-list a {
  text-decoration: none;
  color: #377BFF;
  transition: color 0.3s ease;
}

.header__nav-list a:hover {
  color: #EFFF37;
}

.icon-menu {
  color: #EFFF37;
  margin-right: 10px;
}

.header__nav-lenguaje {
  display: flex;
}

.header__nav-item-point {
  margin: 0 10px;
  user-select: none;
  cursor: progress;
  text-decoration: none;
  color: #377BFF;
}

/**---------Hero section---------**/

.hero {
  display: flex;
  flex-direction: column;
  padding: 5% 0 2% 10%;
  background-color: #00EBB2;
}

.hero__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -10%;
}

.hero__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
}

.hero__title {
  font-family: 'inter', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 200;
  color: #377BFF;
}

.hero__title--decoration {
  font-family: 'inter', sans-serif;
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 3px;
  color: #dcf44a;
  text-shadow: 
  0 0 15px #dcf44a,
  0 0 8px #60f9f0,
  0 5px 2px #377bff;
}

.hero__description {
  font-family: 'inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #201E1E;
  margin: 4% 0 4%;
  line-height: 1.2;
}

.hero__button--contactanos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 291px;
  height: 80px;
  background-color: #DCF44A;
  color: #201E1E;
  box-shadow: 1px 5px 5px rgba(116, 114, 114, 0.488);  
  border: none;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  padding: 6%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero__img {
  max-width: 50%;
}

.hero__img img {
  width: 100%;
  height: auto;
  display: block;
  
}


/* .hero__link--scrolldown {
  justify-self: first baseline;
  font-family: 'inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 20%;
  cursor: pointer;
} */

